// 背景色
$primary-color:#ffb3a7;
$second-color:#44cef6;
$brown-color: #373330;
$dark-color: #000;
$light-color: #fff;

// 字体颜色
$white-text-color: #f0f0f4;
$dark-text-color: #50616d;
$grey-text-color: #C0C4CC
